<ActionBar title="Animales">
    <ActionItem
    
    ios.position="right"
    android.position="right"
    (tap) ="salir()" text="Salir">
    </ActionItem>

</ActionBar>

<GridLayout>
    <ListView [items]="animales">
        <ng-template let-item="item">            
            <StackLayout>
                <Label [text]="item.nombre"></Label>
                <Label [text]="item.numero"></Label>
                <Label [text]="item.edad"></Label>
            </StackLayout>        
        </ng-template>
    </ListView>
 <!--  <Button text="Salir" (tap)="salir()" class="btn btn-primary"></Button>-->
</GridLayout>


